@page "/"
@inject MediaRepoConnection MediaRepoConnection


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>@jsonResponse</p>

Welcome to your new app.

@code{
	private string? jsonResponse;

	protected override async Task OnInitializedAsync()
	{
		await FetchData();
	}

	private async Task FetchData()
	{
		await MediaRepoConnection.ConnectAsync();
		jsonResponse = MediaRepoConnection.rawString;
		WriteLine($"Response: {jsonResponse}");
		//var response = MediaRepoConnection.jsonResponse;
	}

}