@page "/"
@inject MediaRepoConnection MediaRepoConnection


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<pre>@(jsonResponse2 ??  "Loading...")</pre>

Welcome to your new app.

@code{
	private string? jsonResponse2;

	protected override async Task OnInitializedAsync()
	{
		await FetchData();
	}

	private async Task FetchData()
	{
		await MediaRepoConnection.ConnectAsync();
		jsonResponse2 = MediaRepoConnection.rawString;
		WriteLine($"Response: {jsonResponse2}");
		//StateHasChanged();
		//var response = MediaRepoConnection.jsonResponse;
	}

}